@font-face{
    font-family: "Lato-Bold";
    src: url(../fonts/lato/Lato-Bold.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;

}  
@font-face{
  font-family: "Lato";
  src: url(../fonts/lato/Lato-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;

}  
@font-face{
  font-family: "Lato-Black";
  src: url(../fonts/lato/Lato-Black.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;

}  
@font-face{
  font-family: "MavenPro Regular";
  src: url(../fonts/maven-pro/MavenPro-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
  
*{
    margin: 0;
    padding: 0;
    border: 0;
   
}


body{
  margin: 0 auto;
  max-width: 1020px;
  min-width: 600px;
    
}
.logo{
    position: relative;
    margin-left: 478px;
    padding-top: 10px;
}

.triangle{
position: relative;
left: 465px;
width: 0;
height: 0;
border-style: solid;
border-width: 28px 45px 0 45px;
border-color: #323232 transparent transparent transparent;
}
.menu{
    list-style: none;
}
.item{
    display: inline-block;
    
}
.item a{
    font-family: "Lato", "Arial", sans-serif;
    font-size: 9.6px;
    font-weight: 400;
    line-height: 6.32px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}
.link-form{
    text-transform: uppercase;
    left: 503px;
    top: 16px;
    position: relative;
    

}
.link-portfolio{ 
color: #ffffff;
text-transform: uppercase;
left: 327px;
    top: 16px;
    position: relative;
}
.link-portfolio:after{
    content: ".";
    position: relative;
    top: -3px;
    left: 12px;
    color: #494e62;
font-size: 7.21379pt;

    
}

.link-about{
    text-transform: uppercase;
    color: #ffffff;
    left: 347px;
    top: 16px;
    position: relative;

    
}
.link-blog{
    text-transform: uppercase;
    color: #ffffff;
    left: 484px;
    top: 16px;
    position: relative;
    

}
.link-blog:after{
    content: ".";
    position: relative;
    top: -3px;
    left: 12px;
   color: #494e62;
font-size: 7.21379pt;
}
.link-about:hover{
    color: #2eb398
}
.link-blog:hover{
    color: #2eb398
}
.link-form:hover{
    color: #2eb398
}
.link-portfolio:hover{
    color: #2eb398;
}
.header{
    background-color: #323232;
    height: 63px; 
     
}
.navigation{
    position: relative;
    top: -60px;

}

.hexagon-container{
    background-color: #ffffff;
    height: 721px;
  
}

.button-submit{
    background-color: #2eb398;
    border-width: 0;
    display: block;
    width: 90px;
    height:37px;
    cursor:pointer;
    margin-top: 13px;
    margin-left: 490px;
    color: #d7fcf5;
   font-family: "Lato", "Arial", sans-serif;
   font-size: 11px;
line-height: 21.56px;
text-transform: uppercase;
} 
 .blog-text{
    background-color: #2eb398;
    height: 341px;
    

}
.info{
    height: 564px;
    background-color: #323232;
}


.hexagon{
    width: 180px;
    height: 206px;
    transform: rotate(120deg);
    overflow:hidden;
    visibility: hidden;
    display: inline-block;
    margin-right: 16px;
}

    .hex-layer1{
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: hidden;

    }
    .hex1-layer2{
    width: 100%;
    height: 100%;
    background-color: #697a7766;
    transform: rotate(-60deg);
    visibility: visible;
    background-image: url(../img/hex1.png);
    background-repeat: no-repeat;
    background-position: 50%;
    
    

    }
    .hex2-layer2{
    width: 100%;
    height: 100%;
    background-color: #697a7766;
    transform: rotate(-60deg);
    visibility: visible;
    background-image: url(../img/hex2.png);
    background-repeat: no-repeat;
    background-position: 50%;
    }
    .hex3-layer2{
    width: 100%;
    height: 100%;
    background-color: #697a7766;
    transform: rotate(-60deg);
    visibility: visible;
    background-image: url(../img/hex3.png);
    background-repeat: no-repeat;
    background-position: 50%;

    }
    .hex4-layer2{
    width: 100%;
    height: 100%;
    background-color: #697a7766;
    transform: rotate(-60deg);
    visibility: visible;
    background-image: url(../img/hex4.png);
    background-repeat: no-repeat;
    background-position: 49% 111%;

    }
    
    .hex5-layer2{
    width: 100%;
    height: 100%;
    background-color: #697a7766;
    transform: rotate(-60deg);
    visibility: visible;
    background-image: url(../img/hex5.png);
    background-repeat: no-repeat;
    background-position: 50%;


    }
    .hex6-layer2{
    width: 100%;
    height: 100%;
    background-color: #697a7766;
    transform: rotate(-60deg);
    visibility: visible;
    background-image: url(../img/hex6.png);
    background-repeat: no-repeat;
    background-position: 50%;

    }
    .hex7-layer2{
    width: 100%;
    height: 100%;
    background-color: #697a7766;
    transform: rotate(-60deg);
    visibility: visible;
    background-image: url(../img/hex7.png);
    background-repeat: no-repeat;
    background-position: 50%;

    }
    .hex8-layer2{
    width: 100%;
    height: 100%;
    background-color: #697a7766;
    transform: rotate(-60deg);
    visibility: visible;
    background-image: url(../img/hex8.png);
    background-repeat: no-repeat;
    background-position: 50%;

    }
    .hex9-layer2{
    width: 100%;
    height: 100%;
    background-color: #697a7766;
    transform: rotate(-60deg);
    visibility: visible;
    background-image: url(../img/hex9.png);
    background-repeat: no-repeat;
    background-position: 50%;

    }
    .hex10-layer2{
    width: 100%;
    height: 100%;
    background-color: #697a7766;
    transform: rotate(-60deg);
    visibility: visible;
    background-image: url(../img/hex10.png);
    background-repeat: no-repeat;
    background-position: 50%;

    }
    .hex11-layer2{
    width: 100%;
    height: 100%;
    background-color: #697a7766;
    transform: rotate(-60deg);
    visibility: visible;
    background-image: url(../img/hex11.png);
    background-repeat: no-repeat;
    background-position: 50%;

    }
    .hex12-layer2{
    width: 100%;
    height: 100%;
    background-color: #697a7766;
    transform: rotate(-60deg);
    visibility: visible;
    background-image: url(../img/hex12.png);
    background-repeat: no-repeat;
    background-position: 50%;

    }
    .hex13-layer2{
    width: 100%;
    height: 100%;
    background-color: #697a7766;
    transform: rotate(-60deg);
    visibility: visible;
    background-image: url(../img/hex13.png);
    background-repeat: no-repeat;
    background-position: 50%;

    }
    .hex-row1{
        position: relative;
        top: -357px;
        left: 120px;
        
    }
    .hex-row2{
        position: relative;
        top: -398px;
        left: 20px;
    }
  
                            .hex-row3{
                                position: relative;
                                top: -440px;
                                left: 120px;
                            }
                           
    .hexagon:hover{
        transform: rotate(480deg);
        transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
    }
    .visually-hidden{
        visibility: hidden;
        display: none;
        z-index: -10;
    }
    .author{
        width: 180px;
        height: 206px;
        transform: rotate(120deg);
        overflow:hidden;
        visibility: hidden;
        display: inline-block;
        top: -564px;
        left: 122px;
        position: relative;
    }
        .author-layer1{
            width: 100%;
        height: 100%;
        transform: rotate(-60deg);
        overflow: hidden;
        visibility: hidden;
    
        }
        .author-layer2{
            width: 100%;
        height: 100%;
        background-color: #697a7766;
        transform: rotate(-60deg);
        visibility: visible;
        background-image: url(../img/author.png);
        background-repeat: no-repeat;
        background-position: 50%;
        }
        .author:hover{
            transform: rotate(480deg);
            transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
        }
        .about-author{
            width: 581px;
    height: 76px;
            top: -740px;
            left: 320px;
            text-align: justify;
            position: relative;
            font-family: "Lato", "Arial", sans-serif;
color: #d7fcf5;
font-size: 12px;
line-height: 21.56px;
        }
        .subtitle{
           font-family: "MavenPro Regular";
           color: #d7fcf5;
           font-size: 30px;
           font-weight: normal;
           line-height: 4.56px;
           position: relative;
           top: -766px;
    left: 319px;
        }
        .author-position{
            font-family: "MavenPro Regular";
            font-weight: normal;
            color: #20816d;
font-size: 18px;
line-height: 21.56px;
position: relative;
top: -753px;
    left: 320px
        }
        .legend-in{
            color: #bebebe;
            font-family: "MavenPro Regular";
font-size: 18px;
line-height: 49.56px;
margin-left: 3px;
        }

   
.up-line1{
    width: 410px;
    border: 1px solid #e4e9eb;
    position: relative;
    border-width: 1px 0px 0px 0px;
    top: -17px;
    left: 30px;

}
.up-line2{
    width: 410px;
    border: 1px solid #e4e9eb;
    border-width: 1px 0px 0px 0px;
    position: relative;
    top: -18px;
    left: 580px;
}
.left-line1{
    border:1px solid #e4e9eb;
    height:104px;
    position: relative;
    border-width:0px 0px 0px 1px;
    top: 110px;
    left: 99px;
}
.left-line2{
    height: 104px;
    border:1px solid #e4e9eb;
    position: relative;
    border-width:0px 0px 0px 1px;
    top: 342px;
    left: 99px;
}
.right-line1{
    height:104px;
    border: 1px solid #e4e9eb;
    position: relative;
    top: -98px;
    left: -99px;
    border-width:0px 1px 0px 0px;
}
.right-line2{
    height: 104px;
    border: 1px solid #e4e9eb;
    position: relative;
    border-width:0px 1px 0px 0px;
    top: 133px;
    left: -98px;
    
}

.bottom-line{
    border: 1px solid #e4e9eb;
    position: relative;
    width: 960px;
    border-width: 0px 0px 1px 0px;
    top: 263px;
    left: 30px;
}
.social{
    position: relative;
    top: -693px;
    left: 753px;
    display: inline-flex;

}

.social a{
    text-decoration: none;



}

.icon-facebook{
    width:25px;
    height: 24px;
    background-image: url(../img/facebook_1.png);
   

}
.icon-facebook:hover{
    background-image: url(../img/Facebook.png);
}

.icon-twitter{
    width:24px;
    height: 24px;
    background-image: url(../img/twitter_1.png);
}

.icon-twitter:hover{
    background-image: url(../img/Twitter.png);
   
}

.icon-gplus{
    
    width:25px;
    height: 24px;
   background-image: url(../img/google_1.png);
}
.icon-gplus:hover{
    background-image: url(../img/Google.png)
}
.icon-pinterest{
   
    width:24px;
    height: 24px;
    background-image: url(../img/pinterest_1.png);

}
.icon-pinterest:hover{
    background-image: url(../img/Pinterest.png);

}
.icon-linkedin{
    width:25px;
    height: 24px;
    background-image: url(../img/linkedin_1.png);
}
.icon-linkedin:hover{
    background-image: url(../img/Linkedin.png);
}
.icon-dribbble{
  
    width:24px;
    height: 24px;
    background-image: url(../img/dribbble_1.png);
}
.icon-dribbble:hover{
    background-image: url(../img/Dribbble.png);
}
.in-touch-form{
    margin-left: 120px;
    margin-top: -35px;
}

.info-form{

    border-style: none;
}
.legend{
    font-size: 23pt;
    position: relative;
    font-family: "MavenPro Regular";
    color: rgba(224, 224, 224, 255);
    top: -117px;
    left: -1px;
    line-height: 4.56px;

}
.input-text{
    width: 580px;
    height: 38px;
    margin-bottom:16px;
    background-color: #454545;
    border: none;
    color: #bebebe;
font-family: "Lato", "Arial", sans-serif;
font-size: 12px;
line-height: 21.56px;
outline:none;
    
}
.textarea{
width:580px;
height: 150px;
background-color: #454545;
border: none;
resize: none;
outline: none;
color: #bebebe;
font-family: "Lato", "Arial" sans-serif;
font-size: 12px;
line-height: 38.56px;
}
.name{
    margin-top: -111px;
    color: #bebebe;
font-family: "Lato", "Arial", sans-serif;
font-size: 12px;
line-height: 22.6px;
}
.some-info{
    position:relative;
top: 127px;
left: 722px;
color: #bebebe;
width:180px;
height: 117px;
font-family: "Lato", "Arial", sans-serif;
font-size: 12px;
line-height: 21.56px;
text-align: justify;
font-weight: 400;

}
.contacts{
position:relative;
top: 179px;
left: 722px;

}
.contacts-list{
list-style: none;
position: relative;
top: -56px;

}
.telnumer{
    position: relative;
    top: 2px;
}
.mail{    
    position: relative;
    top: 3px;
    left: -2px;

}
.contacts-text{
  width: 122px;
  height: 54px;
  position: relative;
  left: 22px;
  top: -6px;
 
  
}
.contacts-text p{
    color: #bebebe;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
line-height: 21.56px; 
}

.lato-black{
    font-family: "Lato-Black", "Arial", sans-serif;
    color: #e0e0e0;
 
}
.left-line-blog{
    border:1px solid #219d84;
    height:316px;
    position: relative;
    border-width:0px 0px 0px 1px;
    top: 13px;
    left: 99px;
}
.right-line-blog{
    border:1px solid #219d84;
    height:316px;
    position: relative;
    border-width:0px 0px 0px 1px;
    top: -303px;
    left: 920px;
}
.up-line-footer{
    border: 1px solid #2b2b2b;
    position: relative;
    width: 960px;
    border-width: 0px 0px 1px 0px;
    top: 12px;
    left: 30px;
}
.bottom-line-footer{
    border: 1px solid #2b2b2b;
    position: relative;
    width: 960px;
    border-width: 0px 0px 1px 0px;
    top: 52px;
    left: 30px;
}
.visuallyhidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}
.copyright{
    height:43px;
    background-color: #222222;
}
.copy-span{
    color: #454545;
    font-family: "MavenPro Regular"; 
    font-size: 12px;
    line-height: 44.32px;
    margin-left:36px;
}
::-webkit-input-placeholder{
    font-family: "Lato", "Arial", sans-serif;
    font-size: 12px;
    color:#bebebe;
}